<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestioneDomandeDX.Properties.Settings.connStringMySQL" connectionString="server=localhost;user id=root;password=root;database=egafmain_214_model" providerName="MySql.Data.MySqlClient" />
    <add name="egafEntities" connectionString="metadata=res://*/modelloEF.csdl|res://*/modelloEF.ssdl|res://*/modelloEF.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;database=egaf_main&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>